# Server settings
PORT=8000
HOST=0.0.0.0

# Database settings
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=luxestay

# Security settings
# You can generate a random secret key using: openssl rand -hex 32
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Email Settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SENDER_EMAIL=your_email@gmail.com
